<!-- Project Homepage -->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Crypto Homepage</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/stylesheet.css') }}" />
    <link rel="logo" href="{{ url_for('static', filename='/files/logo.png') }}" />
    <style>
    </style>
    <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/coinMarquee.js"></script>
    <script src="https://widgets.coingecko.com/coingecko-coin-price-marquee-widget.js"></script>
</head>

<body>
    <!-- HEADER -->
    <div class="headerContainer">
        <a href="{{ url_for('index') }}">
            <img src="/static/files/logo.png" height=80 alt="Logo" />
        </a>
        <!-- NAVIGATION BAR -->
        <ul>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('register') }}">Sign Up</a></li>
        </ul>
    </div>
    <coingecko-coin-price-marquee-widget coin-ids="bitcoin,ethereum,eos,ripple,litecoin" currency="usd"
        background-color="#ffffff" locale="en"></coingecko-coin-price-marquee-widget>
    <div class="mainContainer">
        <br>
        <h1>The Premium Crypto-Asset Tracker</h1>
        <br>
        <table>
            <tr><h3>Welcome to Crypto-Safe!</h3></tr>
            <tr><p>This product is designed with the best intentions in mind! Crypto-Safe was created to ease investor anxiety surrounding cryptocurrencies, while also being a powerful tool for those looking to invest. It is as simple as adding the crypto(s) of interest, Crypto-Safe will do the rest!</p></tr>
        </table>
        <br>
        <table>
            <tr><h3>Instructions</h3></tr>
            <tr><p>1. Create an account</p></tr>
            <tr><p>2. Input the crypto symbol to be tracked</p></tr>
            <tr><p>3. Add the price it was purchased at (and if it hasn't been, put a favorable price that could change your mind)</p></tr>
            <tr><p>4. Provide the desired target return for the asset (ex. insert 95 for 5% return)</p></tr>
            <tr><p>5. Click the "add" button! (to delete, simply click the "remove" button)</p></tr>
            <tr><p>Now sit back and relax. If the crypto appreciates past the target return or depreciates further from the loss threshold, you'll be the first to know! You will receive an email notification from us.</p></tr>
        </table>
    </div>
</body>

</html>