<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/stylesheet.css') }}" />
  <link rel="logo" href="{{ url_for('static', filename='/files/logo.png') }}" />
  <link rel="airplane" href="{{ url_for('static', filename='/files/airplane.jpg') }}" />
  <link rel="trashcan" href="{{ url_for('static', filename='/files/trashcan.png') }}" />
</head>

</html>