<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404: Page not found</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/stylesheet.css') }}" />
</head>

<body>
    <div class="headerContainer">
        <div class="containerText">Error 404: Page not found</div>
    </div>
    <div class="mainContainer">
        <br>
        <p>Oops! It appears something went wrong! Please click <a href="/">here</a> to return home!</p>
        <br>
    </div>
</body>

</html>